* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Play', sans-serif;
  background-color: #1d5c0385;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include phone {
    flex-direction: column-reverse;
  }
}